<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="SoftCommerce\PlentyOrderProfile\Model\OrderExportService\Generator\OrderItems" type="SoftCommerce\Profile\Model\ServiceAbstract\Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="extra_fee" xsi:type="array">
                    <item name="class" xsi:type="object">SoftCommerce\PlentyDampfi\Model\OrderExportService\ItemGenerator\ExtraFee</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
